{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">

<style>
       
</style>
  <main id="main" class="main">

</body>
</html>
    

    <div class="pagetitle">
      <h1><b>Contact </b></h1>
      <nav>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-11">

          <div class="card">
            <div class="card-body" style="padding:20px;,back-ground color:black;">
             <a href="contact" style="position:auto; margin-left:750px;" title="previous"><i class="bi bi-skip-backward-fill"></i></a>
              <!-- General Form Elements -->
              <form method="post" id="form" action="contactupdate" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            {% comment %} <h5 class="card-title">Add Syllabus</h5> {% endcomment %}
                        </div>
                    </div>

                <div class="row mb-3">
                    <div class="col-sm-10 mb-3">
                          <label for="contact" class="label">Contact No</label>
                          <input name="contact" value="{{member.contact}}" type="number"  class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-10 mb-3">
                          <label for="email" class="label">Email </label>
                          <input name="email" type="email"  value="{{member.email}}"  class="form-control">
                    </div>
                </div>
                    
                    <div class="row mb-3">
                      <div class="col-sm-10 mb-3">
                          <label for="address" class="label">Address</label> 
                          <textarea name="address" type="text"  class="form-control">{{member.address}}</textarea>
                      </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-sm-10 mb-3">
                              <label for="map" class="label">Location Map</label>
                              <input name="map" type="text"  value="{{member.map}}" class="form-control">
                        </div>
                    </div>
                    

                    <div class="row mb-3">
                        <div class="col-sm-10 mb-3">
                              <label for="facebook" class="label">Facebook</label>
                              <input name="facebook" type="text" value="{{member.facebook}}"  class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-sm-10 mb-3">
                            <label for="whatsapp" class="label">Whatsapp</label>
                            <input name="whatsapp" type="text"  value="{{member.whatsapp}}" class="form-control">
                      </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-10 mb-3">
                          <label for="twitter" class="label">Twitter</label>
                          <input name="twitter" type="text"  value="{{member.twitter}}" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-10 mb-3">
                        <label for="instagram" class="label">Instagram</label>
                        <input name="instagram" type="text"  value="{{member.instagram}}" class="form-control">
                  </div>
              </div>

                    <div class="row mb-3">
                        <div class="col-sm-10">
                        <button type="submit" id="form-submit" class="btn btn-primary">Save</button>
                       </div>
                   </div>
            </form>
            
</main>
</html>
{% include 'footer.html' %}